.primary-color
{
    background-color: #ff9800;
}
.inactive-color
{
    color:#ffe0b2; /*orange lighten-4*/
}
a
{
    color: #ff9800;
    cursor: pointer;
}
.tabs .tab a
{
      color: #ffe0b2;
}
.tabs .tab a:hover, .tabs .tab a.active
{
    color: #ff9800;
}
.indicator
{
    color: #ff9800;
}
.tabs .indicator
{
    background-color:#ff9800;
}
.tabs .tab.disabled a, .tabs .tab.disabled a:hover
{
    color:rgba(255, 152, 0, 0.4);
    
}